<html></html>
  <head>
    <meta charset='utf-8' />
    <title>Login</title>
  </head>
  <body>
    로그인해주세요<br>
    <button type="button" onclick="location.href='https://kauth.kakao.com/oauth/authorize?client_id={{clientId}}&redirect_uri={{redirectUri}}&response_type=code'">카카오 로그인 하러가기</button>
  </body>
</html>