<html>
  <head>
    <meta charset='utf-8' />
    <title>My Page</title>
  </head>
  <body>
    Hi, this is my page.
    {{message}}
    <p>
      <button type='button' id='refresh'>새로 고침</button>
    </p>

    <div>
      <h2>유저 정보 </h2>
      회원가입 시각 :
      <span id='user-createdAt'></span>
      <br />
      최근 유저정보 업데이트 시각 :
      <span id='user-updatedAt'></span>
      <br />
      등록 이메일 :
      <span id='user-email'></span>
      <form name = 'form-email' action="#" id="form-update-email">
        <label>Email Edit:
          <input name='submitted-email' />
        </label>
        <button>Save</button>
      </form>
      <button type='button' id='delete-email'>등록된 이메일 삭제</button>

    </div>
    <div>
      <h2>데이터 다운로드</h2>
      <form id="form-data-query" method="post" action="/data/query/csv">
        <label>쿼리 기간 시작일: <input name="startDate" id="input-startDate" type="date"></label> <br>
        <label>쿼리 기간 종료일: <input name="endDate" id="input-endDate" type="date"></label> <br>
        <label>쿼리 종목 코드 리스트  <br> ( 각 줄에 하나씩 입력 )  <textarea name="codes" id="input-codes" cols="40" rows="7">005930&#13;&#10;000660</textarea> </label> <br> <br>
        <label>모든 종목을 쿼리할지 여부 (체크 시 위의 리스트는 무시됨) : <input name="isAllIssue" id="input-isAllIssue" type="checkbox"></label><br>
        <button type='button' id='download'>다운로드</button>
      </form>
    </div>
    <script src='/scripts/mypage.js' type='module'></script>
  </body>

</html>