<html>
  <head>
    <meta charset='utf-8' />
    <title>My Page</title>
  </head>
  <body>
    Hi, this is my page.
    {{message}}
    <p>
      <button type='button' id='refresh'>새로 고침</button>
    </p>

    <div>
      <h2>유저 정보 </h2>
      회원가입 시각 :
      <span id='user-createdAt'></span>
      <br />
      최근 유저정보 업데이트 시각 :
      <span id='user-updatedAt'></span> <br />
      이번달 데이터 다운로드 가능 잔여한도 (일자, 종목 쌍의 수) :
      <span id='user-quota'></span> 개
      <br />
      등록 이메일 :
      <span id='user-email'></span>
      <form name = 'form-email' action="#" id="form-update-email">
        <label>Email Edit:
          <input name='submitted-email' />
        </label>
        <button>Save</button>
      </form>
      <button type='button' id='delete-email'>등록된 이메일 삭제</button><br>
      이메일 구독 여부 : <span id="user-sub"></span> <br>
      이메일 구독 조건문 : <span id="user-criteria"></span>

    </div>
    <div>
      <h2>데이터 다운로드</h2>
      <form id="form-data-query" method="post" action="/data/query/csv">
        <label>쿼리 기간 시작일: <input name="startDate" id="input-startDate" type="date"></label> <br>
        <label>쿼리 기간 종료일: <input name="endDate" id="input-endDate" type="date"></label> <br>
        <label>쿼리 종목 코드 리스트  <br> ( 각 줄에 하나씩 입력 )  <textarea name="codes" id="input-codes" cols="40" rows="7">005930&#13;&#10;000660</textarea> </label> <br> <br>
        <label>모든 종목을 쿼리할지 여부 (체크 시 위의 리스트는 무시됨) : <input name="isAllIssue" id="input-isAllIssue" type="checkbox"></label><br>
        <button type='button' id='download'>다운로드</button>
      </form>
    </div>
    <div>
      <h2>이메일 알림 구독</h2>
      매일 오전 8시에 설정한 조건에 맞는 종목들이 있을 경우 알림 이메일을 발송 <br>
      조건을 사용하지 않을 경우 빈칸으로 두면 됨 <br>
      <label>사용 여부 : <input id="checkbox-sub" type="checkbox"> </label><br>
      <label>시가총액(원) 범위: <input id="input-minMarketCap" type="number"> 이상,  <input id="input-maxMarketCap" type="number"> 이하</label> <br>
      <label>PER 범위: <input id="input-minPer" type="number"> 이상,  <input id="input-maxPer" type="number"> 이하</label> <br>
      <label>PBR 범위: <input id="input-minPbr" type="number"> 이상,  <input id="input-maxPbr" type="number"> 이하</label> <br>
      <label>배당수익률(DY) <input id="input-minDy" type="number">% 이상 </label> <br>
      <label>52주 고점 대비 하락률<input id="input-vsHighPrice" type="number">% 이상</label> <br> 
      <label>52주 저점 대비 상승률<input id="input-vsLowPrice" type="number">% 이하</label><br>
      
      <button type='button' id='apply'>적용</button> <br><br>
      <button type='button' id='testQuery'>현재 기준 위 조건에 해당하는 종목들 가져오기</button>
      <table id="table" border="1">
        <thead><td>종목코드</td><td>종목명</td><td>전일 종가</td><td>52주 최고가</td><td>52주 최저가</td><td>시가총액</td><td>PER</td><td>PBR</td><td>배당수익률</td><td>외국인지분율</td>
        </thead>
        <tbody id="table-body"></tbody>
      </table>
    </div>
    <script src='/scripts/mypage.js' type='module'></script>
  </body>

</html>